altair==4.2.0 astor==0.8.1 attrs==23.2.0 base58==2.1.1 beautifulsoup4==4.12.3 blinker==1.8.2 bs4==0.0.2 cachetools==5.4.0 certifi==2024.7.4 charset-normalizer==3.3.2 click==8.0.0 colorama==0.4.6 deprecation==2.1.0 entrypoints==0.4 gitdb==4.0.11 GitPython==3.1.43 hydralit_components==1.0.10 idna==3.7 importlib_metadata==8.2.0 importlib_resources==6.4.0 Jinja2==3.1.4 jsonschema==4.23.0 jsonschema-specifications==2023.12.1 lxml==5.2.2 MarkupSafe==2.1.5 numpy==1.24.4 packaging==24.1 pandas==2.0.3 pillow==10.4.0 pkgutil_res
